<!DOCTYPE html>
{% extends 'base.html' %}

{% block contents %}
<body>
<html lang="en">
    <div class="container">
            {% for blog in blogs.all %}
            <div class="card mt-4">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                      <p> 본문 미리보기 : {{blog.summary}}<a href="{%url 'detail' blog.id%}">...more</a></p>
                      
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
            </div>
            <br><br>
            {% endfor %}
    </div>
</body>
{% endblock %}
</html>